@font-face {
  font-family: "iconfont"; /* Project id 3928687 */
  src: url('iconfont.woff2?t=1677844483254') format('woff2'),
       url('iconfont.woff?t=1677844483254') format('woff'),
       url('iconfont.ttf?t=1677844483254') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq1:before {
  content: "\e629";
}

.icon-weixin1:before {
  content: "\e63c";
}

.icon-weibo:before {
  content: "\e62f";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-i-pwd:before {
  content: "\e631";
}

.icon-user:before {
  content: "\e74f";
}

